img{
    max-width: 100%;
    height: auto;
}
h1{
    position: absolute;
    top: 20px;
    left: 36%;
    color:rgb(140, 97, 181);
}
.estudios{
    position: absolute;
    top: 70px;
    left: 36%;
    color: white;
}
